@import url("colors.css");

/* GENERAL RESET & FONT */
* {
    font-family: 'FontAwesome', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
}
window#waybar {
    all:unset;
}
window#waybar.hidden {
    opacity: 0.2;
}
.modules-left {
    padding:7px;
    margin:10 0 3 10;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 1px 1px alpha(@color8,.4);
}
.modules-center {
    padding:7px;
    margin:10 0 3 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 1px 1px alpha(@color8,.4);
}
.modules-right {
    padding:7px;
    margin: 10 10 3 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 1px 1px alpha(@color8,.4);
}

/*************************************
 *           WORKSPACES              *
 *************************************/
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 8px;
    color: alpha(@color5,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color3;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: alpha(@color8,.2);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color4;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

/*************************************
 *          MAIN MODULES             *
 *************************************/
#clock:hover, #network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@color9;
}

#clock {
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
    min-width: 100px;
}

#idle_inhibitor {
    padding: 0 8px;
    margin: 0 4px;
    color: @color7;
}
#idle_inhibitor:hover {
    color: @color7;
}
#idle_inhibitor.activated {
    color: @color5;
}

#pulseaudio {
    margin: 0 4px;
    padding: 0 8px;
    color: @color7;
}
#pulseaudio:hover {
    color: @color6;
}
#pulseaudio.muted {
}

#network{
    padding: 0px 8px;
    margin: 0 4px;
    transition: all .3s ease;
    color:@color7;
}
#network.disconnected {
    color: @color4;
}
#network:hover {
    color: @color6;
}

/* === Power: Custom Module === */
#custom-power {
    margin: 0 10px 0 4px;
    padding: 0 8px;
    font-weight: 600;
    color:@color7;
}
#custom-power:hover {
    color: @color6;
}

/*************************************
 *          EXPANDED MODS            *
 *************************************/

#group-expand{
    padding: 0px 5px;
    transition: all .3s ease;
}

#custom-expand{
    padding: 0px 5px;
    color: @color7;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}
#custom-expand:hover{
    color: @color6;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#cpu,#memory,#temperature{
    padding: 0px 8px;
    margin: 0px 4px;
    transition: all .3s ease;
    color:@color3;

}
#temperature.critical {
    color: @color2;
}
#custom-endpoint{
    padding: 0px 5px;
    color:alpha(@foreground,.3);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}


/*************************************
 *          EXTRA MODULES            *
 *************************************/

/* Battery */
#battery {
}
#battery.charging,
#battery.plugged {
}
#battery.critical:not(.charging) {
    animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
    to {
        background: @color0;
        color: @color1;
    }
}

/*************************************
 *      OTHER & OPTIONAL MODULES     *
 *************************************/
/* Disk */
#disk {
    color: @foreground;
}

/* Power Profiles */
#power-profiles-daemon {
    color: @foreground;
}
#power-profiles-daemon.performance {
    color: @foreground;
}
#power-profiles-daemon.balanced {
    color: @foreground;
}
#power-profiles-daemon.power-saver {
    color: @foreground;
}

/* Backlight */
#backlight {
    color: @foreground;
}

/* Wireplumber */
#wireplumber {
    color: @foreground;
}
#wireplumber.muted {
    color: @foreground;
}

#mpd {
    color: @foreground;
}
#mpd.disconnected {
    color: @foreground;
}
#mpd.stopped {
}
#mpd.paused {
    color: @color0;
}

/* Tray */
#tray {
    color: @foreground;
}
#tray > .passive {
    -gtk-icon-effect: dim;
    color: @foreground;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#scratchpad {
    color: @foreground;
}
#scratchpad.empty {
    color: @foreground;
}
#language,
#keyboard-state {
    color: @foreground;
}

#keyboard-state > label.locked {
    color: @foreground;
}

/* Privacy Indicators */
#privacy {
    color: @foreground;
}
#privacy-item {
    color: @foreground;
}
#privacy-item.screenshare { background: @color3; }
#privacy-item.audio-in    { background: @color2; }
#privacy-item.audio-out   { background: @color4; }

