---
# roles/laptop/tasks/power.yml
- name: Enable and start power-profiles-daemon
  become: true
  ansible.builtin.systemd:
    name: power-profiles-daemon.service
    enabled: true
    state: started

- name: Enable linger for {{ ansible_facts['user_id'] }}
  become: true
  ansible.builtin.command:
    cmd: "loginctl enable-linger {{ ansible_facts['user_id'] }}"
  when: enable_linger_for_user
  changed_when: false

- name: Stow laptop dotfiles
  become: false
  ansible.builtin.command: >
    stow --verbose=2
         --dir="{{ dotfiles_path }}"
         --target="{{ ansible_facts['env'].HOME }}"
         "{{ item }}"
  args:
    chdir: "{{ dotfiles_path }}"
  register: stow_result
  changed_when: '"LINK: " in stow_result.stderr'
  loop: "{{ laptop_stow_packages }}"

- name: Ensure powerprofile-update script is executable
  become: false
  ansible.builtin.file:
    path: "{{ ansible_facts['env'].HOME }}/.local/bin/powerprofile-update.sh"
    mode: "0755"

- name: Enable and start powerprofile-update timer (user)
  become: false
  ansible.builtin.systemd:
    name: powerprofile-update.timer
    scope: user
    enabled: true
    state: started

- name: Enable and start swayidle service (user)
  become: false
  ansible.builtin.systemd:
    name: swayidle.service
    scope: user
    enabled: true
    state: started
