@define-color cursor {{cursor}};
@define-color background {{background}};
@define-color foreground {{foreground}};
@define-color color0  {{color0 }};
@define-color color1  {{color1 }};
@define-color color2  {{color2 }};
@define-color color3  {{color3 }};
@define-color color4  {{color4 }};
@define-color color5  {{color5 }};
@define-color color6  {{color6 }};
@define-color color7  {{color7 }};
@define-color color8  {{color8 }};
@define-color color9  {{color9 }};
@define-color color10 {{color10}};
@define-color color11 {{color11}};
@define-color color12 {{color12}};
@define-color color13 {{color13}};
@define-color color14 {{color14}};
@define-color color15 {{color15}};

@define-color text @color7;

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 10px;
    background-color: alpha(@color0,0.9);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background,.6);
}
#input image {
    border: none;
    color: @color2;
    padding-right: 10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @color8;
}
#entry:selected {
    box-shadow: 1px 1px 5px alpha(@color15,.4);
    border: none;
    border-radius: 20px;
    background-color:transparent;
}
#entry:selected #text {
    color: @color5;
}
#entry:drop(active) {
    background-color: @color8 !important;
}
